*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body{
	background-image: linear-gradient(to right, cyan,blue);
}

h1,h2 {
	font-size:2rem;
}

h1 {
	text-align: center;
}

h2 {
	text-transform: uppercase;
	font-weight: bolder;
	font-family: all;
}

/*input section*/
#inputSec,#container,#container1,#done{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px;
}

.inputDiv,.item {
	width: 450px;
	height: 70px;
	background-color: rgba(255,255,255,0.3);
	padding: 10px;
}
	
.inputDiv input{
	width: 350px;
	padding: 15px;
	border-radius: 25px;
	border-color: none;
	border-width: 0;
}

.inputDiv button{
	width: 30px;
	height: 30px;
	padding: 5px;
	border-radius: 25px;
	border-color: none;
	border-width: 0px;
	background-color: lime;
}

.inputDiv input:onfocus{
	border-width: 0px;
}


/*Todo list section*/


.item{
	height: 50px;
	border-bottom:3px solid black;
	padding:auto;
	margin:3px;
}

.inputItem{
	font-family: monospace;
	font-weight: bold;
	font-size: 1.15rem;
	color: black;
	width: 300px;
	text-overflow:;
	background-color: transparent;
	border:none;
	margin-left: 6px;
}

.editButton, .removeButton,.done{
	background-color: transparent;
	text-transform: uppercase;
	border:none;
	font-size: 0.85rem;
	margin-left: 5px;
}

/*completed section*/
.item{
	background-color: rgba(0,0,255,0.3);
}
.done{
	color:lime;
	margin-left: 0px;
}


/*media query*/

@media screen and (max-width: 450px){
		.inputDiv,.item {
		width:300px;
		height: auto;
		background-color: rgba(255,255,255,0.3);
		padding: 10px;
		}

		body{
			background-image: linear-gradient(to right, cyan,blue);
		}

		.inputDiv input{
			width: 250px;
			height: 30px;
			padding: 1px;
			border-radius: 10px;
		}

		.inputDiv button{
			width: 250px;
			height: 25px;
			padding: 5px;
			margin-top:5px;
			border-radius: 25px;
			border-color: none;
			border-width: 0px;
			background-color: lime;

		h2,h1{
			font-size: 0.5rem;
		}

	}
